@import 'tailwindcss';

@layer components {
  .react-datepicker {
    font-size: 18px;
    width: 180px !important;
  }
  
  .react-datepicker__month-container {
    width: 100%;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.2rem;
  }
  
  .react-datepicker__header {
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  .react-datepicker__current-month {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .bg-konkuk-green {
    @apply bg-[#217446];
  }
  
  .text-konkuk-green {
    @apply text-[#217446];
  }

  .form-wrapper {
    @apply flex h-screen w-full flex-col items-center justify-center;
  }

  .form-input {
    @apply rounded-[1rem] border border-[#f2f2f2] px-[1.6rem] py-[1rem] text-[1.3rem];
  }

  .form-label {
    @apply text-[1.6rem] font-bold;
  }

  .form-button {
    @apply rounded-[1rem] border border-[#f2f2f2] bg-green-400 px-[1.6rem] py-[1rem] text-[1.3rem] text-white hover:bg-green-500 disabled:cursor-not-allowed disabled:bg-gray-400;
  }

  .form-error {
    @apply text-[1.2rem] text-red-500;
  }

  .form-title {
    @apply text-[2.5rem] font-bold;
  }
}
