@import 'tailwindcss';

@layer base {
  * {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
  }
  html {
    width: 390px;
    margin: 0 auto;
    min-height: 100vh;
    font-size: 62.5%;
  }
  body {
    overflow-x: hidden;
  }
  body {
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
  input {
    border: none;
    :focus {
      outline: none;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    outline: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
}
